.button-container{
    text-align: center;
}

.button-container a {
    display: block;
    margin-top: 20px;
}

button{
    width: 275px;
    font-size: 25px;
    height: 75px;
    display: block;
    margin: auto;
    background: rgb(8, 6, 141);
    color: white;
    border-radius: 15px;
    border: 2px solid blue;
}
